<h1> Enter a new band: </h1>

<form action="<%=bands_url%>" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="band[name]">
  <input type="submit" value="Submit New Band"
</form> 